body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4db100;
    background: linear-gradient(to right, #5a4cc3, #ffff);
}
a {
    text-decoration: none;
    color: white;
    border: 2px solid #fff;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
}

.content {
    color: rgb(247, 246, 248);
    text-align: center;
}
h1 {
    margin-bottom: 70px;
    margin-top: 100px;
}

.introduccion {
    margin-top: 70px;
}